*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Ropa Sans', sans-serif;
}

nav{
    background: #efece7;
    height: 80px;
    width: 100%;
}

label.logo{
    line-height: 115px;
    padding: 0 28px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #707070; 
    font-size: 20px;
    text-transform: uppercase;
}

a.aktiv,a:hover{
    color: #000000;
}

.checkbtn{
    font-size: 30px;
    color: #707070;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.box{
    background-color: #efece7;
    padding: 100px 100px 100px 28px;
    font-size: 25px;
    color: #707070;
}

.bil{
    width: 100%;
    height: 400px;
}

.texture{
    width: 100%;
    height: 400px;
    margin-top: -10px;
}

.elvis{
    width: 100%;
    height: 400px;
    margin-top: -10px;
}

.mars{
    width: 100%;
    height: 400px;
    margin-top: -10px;
}
h1{
    padding-top: 150px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #de571d;
}

h2{
    padding-top: 950px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #de571d;
}

h3{
    padding-top: 1750px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #de571d;
}

h4{
    padding-top: 2550px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #de571d;
}


@media (max-width: 952px){
    label.logo{
        padding-left: 30px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #efece7;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.aktiv{
        color: #000000;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

